* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-color: #0d0601;
  color: white;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150px;
  z-index: 0;
  background-color: #0d0601;
  opacity: 0.25;
  background-image: url("./wood-medium.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -20px 29px #0d0601, inset 0px 56px 50px #0d0601;
  color: white;
}

header,
nav {
  z-index: 1;
}

button:disabled {
  opacity: 0.5;
}
