* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-color: #0d0601;
  background-image: url("./wood-medium.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -20px 29px #0d0601, inset 0px 56px 50px #0d0601;
  color: white;
}

/* Form */

.placeContent {
  display: grid;
  place-content: center;
  gap: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 20px;
}

label {
  display: grid;
  gap: 5px;
  position: static;
}

input {
  padding: 20px;
  width: 319px;
  height: 40px;
  border: 2px solid #d7b191;
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Error */

input:valid:not(:placeholder-shown, :focus) {
  border-color: lightgreen;

  background-position: right 16px center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  /* background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><circle cx='10' cy='10' r='10' fill='lightgreen'/><path fill='%23FFFFFF' d='M9,6.84848485 C9,5.93939394 9.4,5.33333333 10,5.33333333 C10.6,5.33333333 11,5.93939394 11,6.84848485 L11,10.4848485 C11,11.3939394 10.6,12 10,12 C9.4,12 9,11.3939394 9,10.4848485 L9,6.84848485 Z M10,14.6666667 C9.41666667,14.6666667 9,14.25 9,13.6666667 C9,13.0833333 9.41666667,12.6666667 10,12.6666667 C10.5833333,12.6666667 11,13.0833333 11,13.6666667 C11,14.25 10.5833333,14.6666667 10,14.6666667 L10,14.6666667 Z'/></g></svg>"); */
}

input:invalid:not(:placeholder-shown, :focus) {
  border-color: red;

  background-position: right 16px center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><g fill='none' fill-rule='evenodd'><circle cx='10' cy='10' r='10' fill='red'/><path fill='%23FFFFFF' d='M9,6.84848485 C9,5.93939394 9.4,5.33333333 10,5.33333333 C10.6,5.33333333 11,5.93939394 11,6.84848485 L11,10.4848485 C11,11.3939394 10.6,12 10,12 C9.4,12 9,11.3939394 9,10.4848485 L9,6.84848485 Z M10,14.6666667 C9.41666667,14.6666667 9,14.25 9,13.6666667 C9,13.0833333 9.41666667,12.6666667 10,12.6666667 C10.5833333,12.6666667 11,13.0833333 11,13.6666667 C11,14.25 10.5833333,14.6666667 10,14.6666667 L10,14.6666667 Z'/></g></svg>");
}

input:invalid:not(:placeholder-shown, :focus) + .error {
  max-height: 2rem;
}

.error {
  color: red;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s max-height;
}
